.sidebar {
    padding: 30px;
}

.filter-title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.03rem;
}

.sub-filter {
    font-size: 15px;
    line-height: 16px;
    color: #959595;
    font-weight: 600;
    letter-spacing: 0.03rem;
    margin: 20px 0;
}

.filter-list {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.03rem;
    margin: 17px 0 !important;
    cursor: pointer;
}

.filter-list:hover {
    color: #5ad235;
}

.filter-list.active {
    color: #5ad235;
}